{% extends 'base.html' %}{% load static %} {% block title %} booking {% endblock %} {% block content %}
<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/css/driers.css' %}">

    <title>Drivers List</title>
</head>

<body>

    {% if messages %}
    <div class="notification-container">
        <div class="notification">
            {% for msg in messages %}
            <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{msg}}</p>
            {% endfor %}
            <img id='cross' src="{% static '/images/close.png' %}" width="15px" height="15px" alt="">
        </div>
    </div>
    <script>
        var cross = document.getElementById('cross')
        cross.addEventListener('click', () => {
            document.getElementsByClassName('notification-container')[0].style.display = 'none';
        })

        function makeCall(phoneNumber) {
            window.location.href = 'tel:' + phoneNumber;
        }
    </script>
    {% endif %}
    <main class="main-container">
        <div class="container">
            <div class="user-content-container">{% for u in usrs %}
                <hr>
                <div class="row">
                    <div class=" profile-photo-container col ">
                        <img src="{{u.ambulance_image.url}} " alt="User Image " width="100px " srcset=" ">
                    </div>
                    <div class="col ">
                        <p class="username ">{{u.first_name}} {{u.last_name}}</p>
                        <p class="user-phn1 ">Phone Numbers: {{u.phone_num}}, {{u.alternate_phone_number}}</p>
                        <p class="user-place ">Place: {{u.place}}</p>
                        <p class="user-desc ">Description: {{u.description}}</p>
                        <p class="user-type ">Ambulance type: {{u.amb_type}}</p>
                        <p class="user-status ">Ambulance status: {{u.amb_status}}</p>
                        <p class="user-email ">email: {{u.email}}</p>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger btn-sm" onclick="makeCall(u.phone_num)">Call Now</button>
                    </div>
                    <!-- <div class="profile-edit-link-container">
                        <a href="{% url 'drivereg' %}">Edit</a></div> -->
                    <hr>{% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>

</html>
{% endblock %}